[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
bonobo = "*"
python-dotenv = "*"
pymongo = "*"
pymssql = "*"
cython = "*"
risparser = {git = "https://github.com/MrTango/RISparser.git"}

[requires]
python_version = "3.7"
