[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"

[packages]
bonobo = "*"
pymongo = "*"
pymssql = "*"
cython = "*"
risparser = {git = "https://github.com/MrTango/RISparser.git"}
elsapy = {git = "https://github.com/jiaola/elsapy.git"}
pyyaml = "*"

[requires]
python_version = "3.7"
